.ide-header {
    height: var(--h-header);
    background-color: var(--bg-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-bottom: 1px solid var(--border);
    flex-shrink: 0;
}

.ide-header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ide-header__logo-img {
    width: 18px;
}

.ide-header__title {
    font-size: 12px;
    font-weight: 400;
}

.ide-header__meta {
    font-size: 11px;
    color: var(--text-muted);
}